# Logs
*.log

# Dependency directories
node_modules/

# Build output
dist/
build/
coverage/

# Vite/Nuxt
dist-ssr/

# Editor files
.vscode/
.idea/
!.vscode/extensions.json

# System files
*.DS_Store
Thumbs.db

# Environment variables
.env
.env.*
!.env.example

# Yarn/NPM
.yarn/
.pnp.*
.npm/
.yarnrc.yml

# Misc/Backups
*.local
*.bak
*.tmp
*.swp

# Windows/Visual Studio
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?